<!DOCTYPE html>
<html>
<head>
    <style>
        .email-wrapper {
            font-family: Arial, sans-serif;
            padding: 20px;
            background-color: #f7f9fc;
            color: #333;
            border-radius: 10px;
            max-width: 500px;
            margin: 20px auto;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
        }

        .email-header {
            background-color: #4CAF50;
            color: #fff;
            padding: 15px;
            text-align: center;
            border-radius: 8px 8px 0 0;
            font-size: 24px;
        }

        .token {
            background-color: #e3e9ed;
            padding: 10px;
            border-radius: 5px;
            margin: 20px 0;
            text-align: center;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="email-wrapper" style="font-family: Arial, sans-serif; padding: 20px; background-color: #f7f9fc; color: #333; border-radius: 10px; max-width: 500px; margin: 20px auto; box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);">
        <div class="email-header" style="background-color: #4CAF50; color: #fff; padding: 15px; text-align: center; border-radius: 8px 8px 0 0; font-size: 24px;">
            Resetar Senha
        </div>

        <p>Olá!</p>
        <p>Para resetar sua senha, utilize o código abaixo:</p>

        <div class="token" style="background-color: #e3e9ed; padding: 10px; border-radius: 5px; margin: 20px 0; text-align: center; font-weight: bold;">
            {{ token }}
        </div>

        <p>Este código expira em 10 minutos.</p>
        <p>Se você não solicitou um reset de senha, por favor, ignore este e-mail.</p>
    </div>
</body>
</html>
